@using nl.jorncruijsen.jbs.transactions

@model IOrderedEnumerable<IGrouping<string, BankRecord>>

@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>
<p>Listing all transactions, grouped by name, descendingly ordered for each respective total transaction amount</p>

@foreach (IGrouping<string, BankRecord> group in Model)
{
    
    @Html.Partial("Partials/GroupedTransactionTable", group);
}