@{
    ViewBag.Title = "Author";
}

<h2>Author</h2>

<p>This system allows for easy access to transaction records of a specific bank account. It provides intuitive record charting and statistical analytics of the bank transactions, creating a clear and visually appealing overview of payment and income history.</p>

<p>The system is compatible with both Rabobank- and ING .CSV transaction exports.</p>

<p>Created as a collaborative effort of Jorn Cruijsen, Maarten Naberink and Alexander Kersten - &copy; 2012 - JBS (JansBinnenSingel)</p>

<p>Version: 0.1 alpha - May 9th, 2012</p>