@model IEnumerable<BankRecord>

@using nl.jbs.banktransactions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>Total amount: @string.Format("{0:C}", Model.Sum(r => r.Type.Equals(BankRecord.TransactionType.DEBIT) ? r.Amount * -1 : r.Amount))</p>

@Html.Partial("Partials/TransactionTable", Model)