@using nl.jbs.banktransactions

@{
    ViewBag.Title = "Monthly overview";
}

<h2>Monthly</h2>

<p>Listing all transactions, grouped by month</p>

@foreach (IGrouping<string, BankRecord> group in Model)
{
    
    @Html.Partial("Partials/GroupedTransactionTable", group);
}